// global styles
@import './global/reset.scss';
@import './common/sliders.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap');

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  margin: 0 auto 100px;
  max-width: 1600px;
  background-color: #7E5AFF;
  background-image: url('/img/header-background.png');
  background-size: cover;

  &__container {
    padding: 53px 0 50px;
  }

  &__navbar {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 223px;

    &-logo {
      width: 241px;
    }

    &-menu {
      width: 515px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-item li {
        text-transform: uppercase;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          border: 1px solid #fff;
          left: -28px;
          top: 4px;
        }
      }
    }

    &-social {
      width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__heading {
    width: 919px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    &-slide {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 98px;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      text-align: center;
    }

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.3em;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 240px;
    }

    &-arrow {
      width: 40px;
      height: 40px;
      align-self: center;
    }
  }
}

.projects {
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 150px;

  &__container {
    padding-top: 30px;
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
    text-transform: uppercase;
    margin-bottom: 90px;
    position: relative;

    &::before {
      content: '';
      width: 100px;
      height: 1px;
      right: 50%;
      top: -30px;
      transform: translate(50%, -50%);
      border-top: 1px solid #2C4058;
      position: absolute;
    }
  }

  &__row {
    width: 1385px;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin: 0 auto;

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 70px;

      &:nth-child(2) {
        flex-direction: row-reverse;
      }

      &-img {
        width: 100%;
      }

      &-block {
        width: 470px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 151px;

        &-subtitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 27px;
          color: #2C4058;
          text-transform: uppercase;
        }

        &-title {
          width: 100%;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 700;
          font-size: 44px;
          line-height: 54px;
          color: #2C4058;
          text-transform: uppercase;
        }

        &-text {
          width: 470px;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          color: #2C4058;
          margin-bottom: 40px;
        }

        &-button {
          padding: 17px 41px;
          border: 1px solid #2C4058;
          text-transform: uppercase;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #000000;
          background-color: transparent;
          margin-bottom: 60px;
        }

        &-location {
          font-family: 'Open Sans';
          font-style: italic;
          font-weight: 400;
          font-size: 15px;
          line-height: 20px;
          color: #000000;
          position: relative;
          margin-left: 20px;

          &::before {
            content: '';
            background: url('/img/location-icon.png') no-repeat;
            background-size: contain;
            width: 100%;
            height: 17px;
            position: absolute;
            top: 1px;
            left: -20px;
          }
        }
      }
    }
  }
}

.news {
  max-width: 1600px;
  margin: 0 auto 180px;
  background-color: #24CCFA;
  background-image: url('/img/news-background.png');
  background-size: cover;
  padding: 150px 0 170px;

  &__container {
    position: relative;
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 90px;
    position: relative;

    &::before {
      content: '';
      width: 100px;
      height: 1px;
      right: 50%;
      top: -30px;
      transform: translate(50%, -50%);
      border-top: 1px solid #FFFFFF;
      position: absolute;
    }
  }

  &__arrow {
    &-left {
      width: 40px;
      transform: rotateZ(90deg);
      position: absolute;
      left: 130px;
      top: 380px;
    }

    &-right {
      width: 40px;
      transform: rotateZ(-90deg);
      position: absolute;
      right: 130px;
      top: 380px;
    }
  }

  &__slides {
    width: 1170px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-cart {
      width: 370px;
      background-color: #fff;

      &-block {
        padding: 30px 20px;
      }

      &-img {
        width: 370px;
        height: 240px;
        background-size: contain;
      }

      &-title {
        width: 330px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #2C4058;
        margin-bottom: 15px;
      }

      &-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #2C4058;
        margin-bottom: 39px;
      }

      &-author {
        width: 186px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-icon img {
          border-radius: 50%;
          width: 60px;
        }

        &-name {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #2C4058;
          margin-bottom: 6px;
        }

        &-date {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #55B7FF;
        }
      }
    }
  }

  &__nav {
    bottom: -120px;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 5;
    text-align: center;
    position: absolute;
    display: flex;
    gap: 40px;

    &-button {
      width: 10px;
      height: 10px;
      display: block;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #fff;
      background-color: transparent;
      transition: all ease .2s;

      &:not(:last-child) {
        margin-bottom: 40px;
      }

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }


}

.gallery {
  margin-bottom: 150px;

  &__container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #2C4058;
    margin-bottom: 90px;
    position: relative;

    &::before {
      content: "";
      width: 100px;
      height: 1px;
      right: 50%;
      top: -30px;
      transform: translate(50%, -50%);
      border-top: 1px solid #2C4058;
      position: absolute;
    }
  }

  &__photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 60px;

    &-img-1 {
      grid-area: 1 / 1 / 3 / 3;
      position: relative;

      &::before {
        content: '';
        width: 70px;
        height: 70px;
        background-image: url('/img/zoom-in.svg');
        position: absolute;
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
      }
    }

    &-img-2 {
      grid-area: 1 / 3 / 2 / 4;
    }

    &-img-3 {
      grid-area: 1 / 4 / 2 / 5;
    }

    &-img-4 {
      grid-area: 2 / 3 / 3 / 4;
    }

    &-img-5 {
      grid-area: 2 / 4 / 3 / 5;
    }
  }

  &__button {
    padding: 17px 41px;
    width: 190px;
    border: 1px solid #2C4058;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    background-color: transparent;
    margin-bottom: 60px;
  }
}

.contact {
  width: 1600px;
  position: relative;

  &__form {
    width: 770px;
    margin: 0 auto;
    padding: 60px;
    background-color: #fff;
    position: absolute;
    top: 640px;
    right: 50%;
    transform: translate(50%, -50%);
    box-shadow: 0px -4px 30px rgba(133, 133, 133, 0.2);

    &-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-title {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 54px;
      text-align: center;
      color: #2C4058;
      position: relative;
      margin-bottom: 42px;

      &::before {
        content: "";
        width: 100px;
        height: 1px;
        right: 50%;
        top: -30px;
        transform: translate(50%, -50%);
        border-top: 1px solid #2C4058;
        position: absolute;
      }
    }

    &-contacts {
      width: 286px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      & p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
      }
    }

    &-user {
      width: 310px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-name,
      &-email {
        width: 100%;
        border: none;
        //todo: add style when input in focus (clicked)

        &[placeholder] {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: #4B5562;
          opacity: 0.5;
          padding-bottom: 14px;
          border-bottom: 1px solid #2C4058;
        }
      }

      &-button {
        padding: 17px 41px;
        width: 190px;
        border: 1px solid #2C4058;
        text-transform: uppercase;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        background-color: transparent;
        align-self: flex-end;
      }
    }
  }

  &__map {
    width: 1600px;
    height: 700px;
    background-image: url('/img/map.png');
    background-size: contain;
  }
}

.footer {
  width: 1600px;
  background-image: url('/img/footer-bg.png');
  background-size: cover;
  background-color: #7E5AFF;
  padding: 209px 415px 234px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__credits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 112px;
    width: 241px;

    &-text {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }
  }

  &__social {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}